name: Rust

on: [push, pull_request]

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTFLAGS: "-D warnings"
  # Disable debuginfo for faster compile
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_PROFILE_BENCH_DEBUG: 0
  CI: 1
  CARGO_MAKE_CI: 1
  CARGO_MAKE_RUN_CHECK_FORMAT: 1
  CARGO_MAKE_RUN_CLIPPY: 1
  CARGO_MAKE_BUILD_BENCH: 1

jobs:
  rust:
    name: Rust
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        rust:
          - stable
          - beta
          - nightly
          - 1.58.1

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
        components: clippy,rustfmt

    - name: Cache Dependencies
      uses: Swatinem/rust-cache@v1

    - name: Install Cargo Make
      uses: davidB/rust-cargo-make@v1

    - name: cargo-make ci-flow
      uses: actions-rs/cargo@v1
      with:
        command: make
        args: ci-flow
